<style>
    .box{
        border: 2px solid black;
        border-radius: 5px;
        padding: .5em;
    }
    .middle{
        height: 60%;
        overflow: auto;
    }
    .bottom{

    }
    .userdata{
      height: 300px;
      width: 400px;
      overflow: hidden;
      margin-bottom: 10px;
    }
    .horizontal
    {
      height: fit-content;
      margin:10px;
    }
</style>
<div class="top box row">
    <div class="col s4">
        <h6>Server Name</h6>
    </div>
</div>
<div id="uploadData" class="middle box row">

    
  
</div>
  <div class="file-field input-field">
    <div class="btn blue">
      <i class="material-icons left">cloud_upload</i>
      Upload
      <input id="upFile" type="file" onchange="handleFilesUpload(event)">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
  </div>

<script>
  
async function handleFilesUpload(event) {

const uploadFiles = event.target.files;

    try{
            var client = new WebTorrent()

            var files = document.querySelector('input[type=file]').files;
            console.log("Files:",files);
            var roomId = Cookies.get('roomId');
            var roomName = Cookies.get('roomName');
            for (var i = 0; i < event.target.files.length; i++) {
              console.log("abc",i,files[i]);
              client.seed(files[i], function (torrent) {
              console.log("torrent",i,torrent.magnetURI)
              socket.emit('sending_file',{senderObj:decoded,roomID:roomId,magnetURL:torrent.magnetURI,fileName:files[0].name})
              createDirectory(DIRECTORY_WIN+"\\"+roomName);
              addLogs(files[0].name);
            })
        }
      
    } 
    catch(e)
    {
        console.log("Terminated!!")
    }
  }



    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, {});
  });
</script>