<style>
    .box{
        border: 2px solid black;
        border-radius: 5px;
        padding: .5em;
    }
    .middle{
        height: 60%;
        overflow: auto;
    }
    .bottom{

    }
    .userdata{
      height: 300px;
      width: 400px;
      overflow: hidden;
      margin-bottom: 10px;
    }
</style>
<div class="top box row">
    <div class="col s4">
        <h6>Server Name</h6>
    </div>
    <div class="input-field col s4">
        <select>
          <option value="" disabled selected>Choose your option</option>
          <option value="January">January</option>
          <option value="February">February</option>
          <option value="March">March</option>
          <option value="April">April</option>
          <option value="May">May</option>
          <option value="June">June</option>
          <option value="July">July</option>
          <option value="August">August</option>
          <option value="September">September</option>
          <option value="October">October</option>
          <option value="November">November</option>
          <option value="December">December</option>
        </select>
        <label>Month</label>
      </div>
      <div class="input-field col s4">
        <select>
          <option value="" disabled selected>Choose your option</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
        </select>
        <label>Year</label>
      </div>
</div>
<div id="uploadData" class="middle box row">
Kumar
</div>
  <div class="file-field input-field">
    <div class="btn blue">
      <i class="material-icons left">cloud_upload</i>
      Upload
      <input id="upFile" type="file" onchange="handleFilesUpload(event)">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
  </div>

<script>
  
async function handleFilesUpload(event) {

const uploadFiles = event.target.files;

    try{
            var client = new WebTorrent()

            var files = document.querySelector('input[type=file]').files;
            console.log("Files:",files);
            var roomId = Cookies.get('roomId');
            for (var i = 0; i < event.target.files.length; i++) {
              console.log("abc",i,files[i]);
              client.seed(files[i], function (torrent) {
              console.log("torrent",i,torrent.magnetURI)
              socket.emit('sending_file',{senderObj:decoded,roomID:roomId,magnetURL:torrent.magnetURI})
            })
        }
      
    } 
    catch(e)
    {
        console.log("Terminated!!")
    }
  }

    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, {});
  });
</script>