<ul id="user" class="col s12 collection blue-grey lighten-5">
    <li class="collection-item avatar blue-grey lighten-5">
        <img src="images/yuna.jpg" alt="" class="circle grey">
        <span class="title">Amankumar Shrivastava</span>
    </li>  
</ul>

<h6 class="center">Members</h6>
<ul class="col s12 collection  blue-grey lighten-5">
    <li class="collection-item avatar blue-grey lighten-5">
        <img src="images/yuna.jpg" alt="" class="circle grey">
        <span class="title">Title</span>
        <p>First Line</p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar blue-grey lighten-5">
        <i class="material-icons circle">folder</i>
        <span class="title">Title</span>
        <p>First Line</p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar blue-grey lighten-5">
        <i class="material-icons circle green">insert_chart</i>
        <span class="title">Title</span>
        <p>First Line</p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
</ul>
<div class="center">
    <a class="waves-effect waves-light btn blue"><i class="material-icons left">add</i>Add New Server</a>
</div>
